<!DOCTYPE html>
<html lang="en" ng-app="mod">
<head>
    <meta charset="UTF-8">
    <title>chat</title>
    <link rel="icon" href="img/zf.ico" mce_href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body ng-controller="ctrl">

<div class="container">
    <br/>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    欢迎来到2016年第一期聊天室
                    <p style="float: right;margin-top: 1px;cursor: pointer" class="glyphicon glyphicon-cog" ng-click="config()" data-toggle="config" data-placement="top" title="设置资料"></p>
                </div>
                <div id="panelContainer" class="panel-body panel-container">
                    <!--对话-->
                    <div id="content" ng-repeat="content in contents">
                        <div class="text-center"><!--发送时间-->
                            <span class="label label-default" ng-bind="content.time"></span>
                        </div>
                        <div class="content">
                            <img ng-src="{{content.head}}" alt="头像" width="60" height="60"/><!--发送人头像-->
                            <p class="name">{{content.name}}&nbsp;{{content.sexMark}}<br/><br/><!--发送人姓名-->
                                <span class="message"><!--发送内容-->
                                    {{content.message}}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <form name="sendForm">
                        <div class="col-xs-10">
                            <input type="text" name="txtMsg" class="form-control" id="txtMsg" placeholder="请输入要发送的内容(最多输入30字)" ng-model="message" ng-maxlength="30" ng-required="true" ng-keypress="enterSend($event)"/>
                        </div>
                        <div class="col-xs-2">
                            <input class="btn btn-default" type="button" id="sendBtn" value="发送" ng-click="send()" ng-disabled="sendForm.$invalid" data-toggle="send" data-placement="bottom" title="按Enter键发送">
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--设置模态窗口-->
<div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">设置资料</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label for="nikeName" class="control-label col-sm-2 text-right">昵称</label>
                        <div class="input-group col-sm-8">
                            <input class="form-control" id="nikeName" name="nikeName" type="text" ng-model="nikeName"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sex" class="control-label col-sm-2 text-right">性别</label>
                        <div class="input-group col-sm-8">
                            <!--<input class="form-control" id="sex" name="sex" type="text" ng-model="sex"/>-->
                            <select class="form-control" name="sex" id="sex" ng-model="sex">
                                <option value="1">♂&nbsp;男</option>
                                <option value="0">♀&nbsp;女</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-2 text-right">头像</label>
                        <div class="input-group col-sm-8">
                            <div class="row">
                                <div class="col-xs-6 col-md-3" ng-repeat="img in heads">
                                    <a href="#" class="thumbnail" ng-click="setHead(img)">
                                        <img ng-src="{{img}}" width="60" height="60">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button ng-click="saveConfig()" type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

<!--<script type="text/javascript" src="jquery.min.js"></script>-->
<!--<script type="text/javascript" src="bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="angular.min.js"></script>-->
<!--<script type="text/javascript" src="angular-route.min.js"></script>-->
<!--<script type="text/javascript" src="firebase.js"></script>-->
<!--<script type="text/javascript" src="angularfire.min.js"></script>-->
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script type="text/javascript" src="js/firebase.js"></script>
<script type="text/javascript" src="js/angularfire.min.js"></script>
<script type="text/javascript" src="js/app.js?v=201605191444"></script>
</body>
</html>